body, html {
  height: 100%;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;

}

.bg {
  /* The image used */
  background-image: url("cake.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#topContainer {
 background-image: url("cakeTwo.jpg");

   /* Full height */
  height: 100%;
  padding-bottom: 220px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  margin: 0;
  font-size: 80px;
}
#heroWords {
  padding-top: 20px;
  padding-left: 30px;
  color: white;
}
.buttonCont {
  padding-left: 30px;
}
.selection{
  text-align: center;

}
.selectionItem {
  border-style: solid;
  border-width: 1px;
  border-color: #0053f7;
}
.bottomCTA {
  background-color: #e8e8d7;
}
.boxClass {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);

    /*padding-left: 10px;*/
    background-color: white;
    height: 230px;

  }
  .sideColor {
    position: absolute;
    z-index: 99;
    background-color: #4680F0;
    padding-left: 10px;
    height: 230px;

  }
  .texContainer {
    padding-left: 13px;
  }
  .divider {
    padding-top: 10px;
  }

#boxContainer {
  padding-left: 100px;
  padding-right: 100px;
}
h3 {
  margin: 0;
}